@charset "utf-8";
/* CSS Document */
body {
	background: #fff !important;
	line-height: 26px;
}
a {
	color: #333333;
}
a:hover {
	color: #fa139b;
}
.banner {
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
}
.banner li.img {
	height: 224px;
	padding-top: 136px;
}
.banner li dl {
	border-radius: 6px;
	width: 1020px;
	margin: auto;
	background:rgba(255, 255, 255, .8) !important;
	background:#fff; 
	filter:Alpha(opacity=80);
	height: 100px;
	color: #333;
}
.banner li dt {
	font-size: 46px;
	line-height: 100px;
	text-align: center;
	float: left;
	width: 240px;
	border-right: 1px solid #b8b7b8;
	
}
.banner li dd {
	padding: 18px 0;
	font-size: 16px;
	margin-left:20px;
	float: left;
	font-size: 18px;
}
.banner .input-city,
.banner .input-theme,
.banner .btn-search{
	float: left;
	margin-left: 25px;
	position: relative;
}
.banner .input-city input,
.banner .input-theme input{
	width: 200px;
	padding:5px;
	height: 18px;
	line-height: 18px;
	border-radius: 3px;
	margin-top: 3px;
	border:1px solid #bebebe;
	background:#fff url(select_down.png) no-repeat 98% 10px;
	font-size: 14px;
	font-family: "微软雅黑";
}
.banner .input-city input:hover,
.banner .input-theme input:hover{
	background:#fffbfc url(select_down.png) no-repeat 98% 10px;
}
.banner .input-city .layout-box,
.banner .input-theme .layout-box{
	position: absolute;
	width: 690px;
	padding:12px 10px 6px 12px;
	left: 0px;
	top: 67px;
	font-size: 14px;
	background: #fffbfc;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-top: -2px;
	border-top: 1px solid #c7c3c0;
	border-left:1px solid #c7c3c0;
	border-right: 1px solid #c7c3c0;
	border-bottom: 6px solid #fe77b9;
	z-index: 10;
}
.banner .input-theme .layout-box{
	width: 451px;
}
.banner .input-city b,
.banner .input-theme b{
	width: 200px;
	padding:5px;
	line-height: 20px;
	height: 26px;
	top: -36px;
	left: -1px;
	font-weight: normal;
	position: absolute;
	background:#fffbfc url(select_down.png) no-repeat 98% 10px;
	border-left: 1px solid #c7c3c0;
	border-right: 1px solid #c7c3c0;
	z-index: 15;
	cursor: pointer;
}
.banner .input-city span,
.banner .input-theme span{
	margin-right: 25px;
	line-height: 30px;
	width: 100px;
	cursor: pointer;
	display: block;
	float: left;
}
.banner .input-city span:hover,
.banner .input-theme span:hover{
	color:#fa139b;
}
.banner .input-theme span{
	width: 87px;
}
.banner .btn-search{
	margin-top: 12px;
}
.banner .btn-search input{
	border:none;
	width: 58px;
	height: 45px;
	background:#fc78b7 url(icon-search.png) no-repeat center center;
	border-radius: 3px;
	border-bottom: 3px solid #fb5c98;
}
.citys {
	background-color: #e4e4e4;
	border-bottom: 1px dotted #ced4ef;
	font-size: 20px;
	line-height: 26px;
	color: #7d7d7d;
	height: 26px;
	padding: 35px 0;
}
.citys .c-wrapper {
	position: relative;
}
.citys dt, .citys dd {
	display: inline-block;
	color: #333333;
	float: left;
}
.citys dd {
	border-right: 1px solid #7d7d7d;
	padding: 0 6px;
	cursor: pointer;
}
.citys dd span {
	padding: 0px 10px;
	display: block;
}
.citys dd:hover span, .citys dd.hover span {
	background-color: #ff63b1;
	color: #fff;
	border-radius: 4px;
}
.hover_banner_title{
	background-color: #ff63b1;
	color: #fff;
	border-radius: 4px;
}
.citys .more {
	position: absolute;
	right: 0px;
	top: 7px;
	width: 7px;
	height: 9px;
	background: url(index-liBg-1.png);
	cursor: pointer;
}
.citys .more:hover {
	background: url(index-liBgHover.png);
}
.index-carousel {
	font-size: 18px;
	color: #535353;
	background: #f2f2f2;
	padding: 20px 0;
	height: 440px;
}
.index-carousel .c-wrapper {
	width: 1220px;
	position: relative;
}
.index-carousel dl {
	float: left;
	margin: 4px 10px;
	width: 590px;
	height: 440px;
	overflow: hidden;
	background: #fff;
}
.index-carousel dl:hover{
	background: #e4e4e4;
}
.index-carousel dt {
	margin-bottom: 10px;
}
.index-carousel dd {
	padding: 0px 15px;
	width: 560px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.index-carousel .maskL {
	background: rgba(0, 0, 0, 0.7) none repeat scroll !important;
	background: #000;
	filter: Alpha(opacity = 70);
	position: absolute;
	left: -630px;
	width: 590px;
	height: 440px;
}
.index-carousel .maskR {
	background: rgba(0, 0, 0, 0.7) none repeat scroll !important;
	background: #000;
	filter: Alpha(opacity = 70);
	position: absolute;
	right: -630px;
	width: 590px;
	height: 440px;
}
.index-carousel .pointerL {
	position: absolute;
	left: -26px;
	background: url(icon.png) left top;
	width: 28px;
	height: 51px;
	top: 170px;
}
.index-carousel .pointerLeft {
	background: urlicon.png) left top;
	width: 28px;
	height: 51px;
	top: 170px;
	left: -36px;
	text-align: center;
	float: left;
	display: block;
	cursor: pointer;
	position: absolute;
}
.index-carousel .pointerR {
	position: absolute;
	right: -36px;
	background: url(icon.png) right top;
	width: 28px;
	height: 51px;
	top: 170px;
	position: absolute;
}
.index-carousel .pointerRight {
	background: url(icon.png) right top;
	width: 28px;
	height: 51px;
	text-align: center;
	right: -26px;
	display: block;
	cursor: pointer;
	top: 170px;
	position: absolute;
}
.carousellCentralDiv{
	width:1276px;
	margin: auto;
}
.service {
	background: #fbfbfb;
	padding: 15px 0;
	height: 90px;
	border-top: 1px dotted #ced4ef;
	border-bottom: 1px dotted #ced4ef;
}
.service .title {
	background: url(service-title.png) no-repeat;
	padding-top: 45px;
	padding-left: 13px;
	width: 145px;
	height: 40px;
	font-size: 14px;
	line-height: 20px;
	float: left;
}
.service .text {
	float: left;
	margin-left: 60px;
}
.service .text dl {
	width: 65px;
	float: left;
	margin: 0 10px;
	text-align: center;
	font-size: 14px;
	line-height: 22px;
	cursor: pointer;
}
.service .text dt {
	width: 65px;
	height: 65px;
	overflow: hidden;
	border-radius: 36px;
	border: 2px solid #d2d2d2;
}

.service .text dl.online dt {
	border: 2px solid #ff63b1;
}

.service .text dl.online dd {
	color: #ff63b1;
}
.service .text .complaints {
	float: left;
	border-left: 1px solid #dddddd;
	padding-left: 6px;
	height: 86px;
	overflow: hidden;
	margin-left: 40px;
}

.service .text .complaints h4 {
	width: 16px;
	line-height: 22px;
	font-size: 16px;
	float: left;
	margin-right: 10px;
}

.model-1, .model-2, .model-3, .model-4, .model-5 {
	/*height: 800px;*/
	padding-bottom:30px;
	overflow: hidden;
	background-position: top center;
	background-repeat: no-repeat;
	margin-top: 5px;
	padding-top: 20px;
}
.productlist .c-wrapper .text {
	width: 1220px;
	margin-left: -5px;
}
.productlist dl {
	background: #fafafa !important;
	box-shadow: 3px 3px 4px rgba(0,0,0,.5);
	float: left;
	margin: 15px 5px 0px;
}
.productlist dd .price {
	font-size: 20px;
	color: #fff !important;
	float: right;
	width: 80px;
	line-height: 44px;
	margin-left: 8px;
	background:#fb5c98;
	background-size: 100px;
	padding-left: 12px;
}

.productlist dd .price em {
	font-style: normal;
	font-size: 14px;
}

.productlist dd .namecity {
	float: left;
	margin-left: 8px;
	margin-top: 6px;
}

.productlist dd .namecity a {
	display: block;
	line-height: 18px;
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.productlist dd .namecity a.name{
	font-size: 16px;
	color: #333!important;
}
.productlist dd .namecity a.city {
	color: #959595;
	font-size: 14px;
}

.model-1 .product-1, .model-2 .product-1, .model-5 .product-1 {
	width: 660px;
	height: 575px;
	overflow: hidden;
}
.model-1 .product-1 dd .price, .model-2 .product-1 dd .price, .model-5 .product-1 dd .price
	{
	width: 135px;
	padding-top: 25px;
	height: 66px;
}
.model-1 .product-1 dd .namecity, .model-2 .product-1 dd .namecity,
	.model-5 .product-1 dd .namecity {
	margin-top: 15px;
	font-size: 20px;
}

.model-1 .product-1 dd .namecity a, .model-2 .product-1 dd .namecity a,
	.model-5 .product-1 dd .namecity a {
	width: 490px;
	padding: 6px 0;
}

.model-1 .product-1 dt, .model-2 .product-1 dt, .model-5 .product-1 dt {
	width: 660px;
	height: 485px;
}

.model-1 .product-1 .price, .model-2 .product-1 .price, .model-5 .product-1 .price
	{
	font-size: 36px;
}

.model-1 .product-1 .price em, .model-2 .product-1 .price em, .model-5 .product-1 .price em
	{
	font-style: normal;
	font-size: 24px;
}

.model-1 .product-2, .model-1 .product-3, .model-1 .product-4, .model-1 .product-5,
	.model-2 .product-2, .model-2 .product-3, .model-2 .product-4, .model-2 .product-5,
	.model-2 .product-6, .model-2 .product-7, .model-3 .product-2, .model-3 .product-3,
	.model-3 .product-4, .model-3 .product-5, .model-4 .product-2, .model-4 .product-3,
	.model-4 .product-4, .model-5 .product-2, .model-5 .product-3 {
	width: 260px;
	height: 280px;
	overflow: hidden;
}

.model-2 {
	/*height: 900px;*/
}
.productlist.model-2 dl {
	background: #333;
}
.productlist.model-2 dd .namecity a.name {
	color: #fff;
}
.productlist.model-2 dd .namecity a.city {
	color: #bfbfbf;
}
.productlist.model-2 .product-8, .productlist.model-3 .product-1,
	.productlist.model-3 .product-6, .productlist.model-4 .product-5 {
	width: 660px;
	height: 280px;
	overflow: hidden;
}

.productlist.model-4 .product-1 {
	width: 930px;
	height: 280px;
	overflow: hidden;
}

.productlist.model-2 .product-8 dd .namecity a, .productlist.model-3 .product-1 dd .namecity a,
	.productlist.model-3 .product-6 dd .namecity a, .productlist.model-4 .product-5 dd .namecity a
	{
	width: 550px;
}

.productlist.model-4 .product-1 dd .namecity a {
	width: 820px;
}

.model-3 {
	/*height: 810px;*/
}

.model-5 {
	/*height: 790px;*/
}

.model-5 .product-wrap {
	float: left;
	width: 270px;
}

.model-5 .product-4 {
	width: 260px;
	height: 575px;
	overflow: hidden;
}

.model-5 .product-4 dd {
	padding-top: 15px;
}

.title-1 {
	background-position: top left;
	background-repeat: no-repeat;
	padding-left: 196px;
	color: #fff;
	height: 135px;
	overflow: hidden;
}

.title-2 {
	background-position: top left;
	background-repeat: no-repeat;
	color: #555;
	height: 135px;
	overflow: hidden;
}

.title-1 h2, .title-2 h2 {
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	margin-bottom: 15px;
}

.title-1 p, .title-2 p {
	font-size: 16px;
}

.more-1, .more-2 {
	text-align: right;
}

.more-1 a {
	font-size: 16px;
	padding: 5px 35px;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 6px;
}

.more-2 a {
	font-size: 16px;
	padding: 5px 35px;
	border: 2px solid #333;
	color: #333;
	border-radius: 6px;
}

.carousellCentralSection {
	display: inline-block;
	overflow: hidden;
	position: relative;
	height: 440px;
	width: 100%;
}

.content_list {
	position: absolute;
	width: 10000px;
}
.big-carousel dt img:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1); 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transition-property: left, top, background, -webkit-transform;
	-webkit-transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
	-webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
	-webkit-transition-delay: 0, 0, 0, 0.2s;
	-moz-transition-property: left, top, background, -webkit-transform;
	-moz-transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
	-moz-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
	-moz-transition-delay: 0, 0, 0, 0.5s;
	-o-transition-property: left, top, background, -webkit-transform;
	-o-transition-duration: 0.2s,0.2s, 0.s, 0.2s;
	-o-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
	-o-transition-delay: 0, 0, 0, 0.5s;
}

#loadingMore,#loadingMoreOver{
	margin: auto;
	width:100px;
	text-align: center;
	cursor: pointer;
	font-size:20px;
	color: #666;
}
#loadingMoreOver:HOVER{
	color: #f31196;
}
.lazy_img{
	background : url("loading4.gif") no-repeat  center center; 
}
.filter_tit { 
	font-family: "Lucida Grande", "Microsoft Yahei"; 
	font-size: 16px; 
	height: 25px;
 	letter-spacing: 2px;
  	margin: -30px auto 0;
   	position: relative; 
   	text-align: center; 
   	width: 1200px;
   	overflow: hidden; 
   	margin-bottom: 10px;
   }
.filter_tit img { 
	left: 50%; 
	margin-left: -57px;
 	position: absolute;
  	width: 115px;
   	z-index: 2; 
   	}
.filter_tit b {
	border-bottom: 1px solid #c6c5c5;
	height: 0; 
	margin-left: -118px; 
	overflow: hidden;
	position: absolute;
	top: 12px; 
	width: 530px; z-index: 1;
	 }
.filter_tit b.left_line {
	left: 115px; 
	}
.filter_tit b.right_line { 
	right: -4px; 
}
.loadMoreContent{
	height: 60px;
	display: none;
}
.loadMoreContent b{
	top: 30px; 
}
.loadOver {
	display: none;
}
.loadOver b{
	margin-left: -123px; 
}